a {
	text-decoration: none;
}

a[href="https://discord.gg/GBFtRcY"] {
	display: none;
}

.voxiomCreate {
	margin: 20px;
	position: absolute;
	font-family: Consolas, sans-serif;
	font-weight: 900;
	pointer-events: none;
}

.voxiomConsole {
	top: 0;
	left: 200px;
	font-size: 10px;
}

body > div[style*='background-color: rgba(0, 0, 0, 0.8); display: block'] {
	display: none;
}

.eHnkoG div,
.eHkThH div {
	max-height: 350px;
}

.bNczYf {
	margin: -20px 0 0 -20px !important;
	padding: 15px !important;
	filter: blur(10px) !important;
}

.jzxTWp,
.evngGB {
	z-index: 7;
}
